.featured-product {
  &__body {
    padding: 60px 15px;
    text-align: center;
    background-color: var(--color-white);

    &-container {
      max-width: 600px;
      margin: 0 auto;

      h1 {
        margin-bottom: 25px;
      }
    }
  }

  &__product {
    padding: 60px 15px;

    .product-card {
      max-width: 400px;
      margin: 0 auto;
    } 
  }

  @media screen and (min-width: 390px) {
    &__product, &__body {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    &__wrapper {
      display: flex;
      flex-direction: row;
    }

    &__product, &__body {
      flex-basis: 50%;
      // I wasn't sure if the design is intended to be full height or not so this is a guess
      min-height: 100vh;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__body-container {
      max-width: 600px;
      margin: 0 auto; 
    }
  }

  @media screen and (min-width: 1200px) {
    &__product, &__body {
      padding: 60px;
    }
  }
}
