@use 'utils/typography';
@use 'utils/variables' as *;
@use 'pages/landing' as *;
@use 'components/product-card';
@use 'components/button';

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 1.2;
}

body {
  font-family: var(--font-family-primary);
  color: var(--color-black);
  background-color: var(--color-main-bg);
  font-size: var(--font-size-base);
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

// Utility classes
.text-center {
  text-align: center;
}