h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: var(--font-family-bold);
  font-weight: 500;
}

h1, .h1 {
  font-size: 2.8rem;
  line-height: 1.4;
}

p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 3.8rem;
    line-height: 1.6;
  }
}