// Typography
$font-family-primary: 'Roboto', Helvetica, sans-serif;
$font-size-base: 1.6rem;

// Layout
$container-max-width: 1200px;

// Colors
$black: #000000;
$white: #FFFFFF;
$main-bg: #EBF6F8;
$orange: #FF5C00;
$light-grey: #EBEBEB;
