<div class="featured-product__wrapper">
  <div class="featured-product__body">
    <div class="featured-product__body-container">
      <h1>Ornare Vulputate Elit</h1>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenan lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>  
    </div>
  </div>
  <div class="featured-product__product">
    <div class="product-card">
      <div class="product-card__image-wrapper">
        <picture>
          <source media="(min-width:600px)" srcset="assets/png/chicken@2x.png">
          <img src="assets/png/chicken.png" alt="Natures Menu Dog Food" class="product-card__img">
        </picture>
      </div>
      <div class="product-card__info text-center">
        <p class="product-card__title">Natures Menu Dog Food Can Chicken</p>
        <p class="product-card__price">£22.81</p>
        <button id="add-to-cart-btn" class="button button--primary button--xpadding" type="button">ADD TO BAG</button>
      </div>
    </div>
  </div>
</div>